body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

main {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

.page {
  width: 1000px;
  margin: 0 auto 0;
  padding-top: 65px;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  font-weight: normal;
  line-height: 56px;
  width: 490px;
  color: #1f1534;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  margin: 40px 0;
}

button {
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #69b99d;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;

  padding: 14px 32px 15px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

button:hover {
  background-color: #5da38a;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
